p.artist_list {
  color: white;
  font-family: centrano2;
  font-size: 6vw;
  line-height: 10vh;
  text-align: center;
}

p.artist_list:hover {
  color: var(--header-text-color);
}

a {
  text-decoration: none;
}

body main h2 {
  font-family: centrano2;
  text-align: center;
}
@media (min-width: 800px) {
  p.artist_list {
    color: white;
    font-family: centrano2;
    font-size: 3vw;
    line-height: 20vh;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  body main h2 {
    font-family: centrano2;
    text-align: center;
  }
}
