p.artist_list {
  color: white;
  font-family: centrano2;
  font-size: 3vw;
  line-height: 20vh;
  text-align: center;
}

a {
  text-decoration: none;
}

body main h2 {
  font-family: centrano2;
  text-align: center;
}
