@font-face {
  font-family: centrano2;
  src: url(font/CentraNo2-Medium.ttf);
}

#index_main {
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

h1 {
  font-weight: 400;
  font-size: var(--h1-font-size);
  color: var(--header-text-color);
}

h2 {
  font-weight: 300;
  font-size: var(--h2-font-size);
  color: var(--header-text-color);
}

h3 {
  font-weight: 300;
  font-size: var(--h3-font-size);
  color: var(--header-text-color);
}

h4 {
  font-weight: 300;
  font-size: var(--h4-font-size);
  color: var(--header-text-color);
}

.title {
  text-transform: uppercase;
  font-family: centrano2;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
  font-family: centrano2;
  text-align: center;
  margin-top: 2.5rem;
}

.artist_index {
  text-transform: uppercase;
  font-family: centrano2;
  text-align: center;
  padding-top: 20px;
}

.genre_artist {
  text-transform: uppercase;
  font-family: centrano2;
  text-align: center;
  font-size: 5vw;
  color: var(--header-text-color);
}

.title_sub {
  margin-bottom: 40px;
}

#background_artist {
  background-color: var(--header-text-color);
  padding: 10px;
}

.background_blue {
  background-color: #0959c0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#artist_container {
  background-color: var(--bg-color);
  opacity: 0.8;
}

.Slide {
  margin: 0 15%;
}

.genre_grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

.genre_grid a {
  background-color: var(--header-text-color);
  padding: 20px 40px;
  margin: 20px 0;
  font-size: var(--h3-font-size);
  color: white;
  text-transform: uppercase;
  font-family: centrano2;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.genre_grid a:hover {
  background-color: #9e157a;
}

.button_artist {
  font-size: var(--h4-font-size);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: centrano2;
  padding: 1rem;
  background-color: var(--header-text-color);
  width: fit-content;
  text-align: right;
  margin: 1rem auto;
  transition: 0.5s;
  cursor: pointer;
}

.button_artist a {
  text-decoration: none;
  color: white;
}

.button_artist:hover {
  background-color: #9e157a;
}

header nav button {
  border: none;
}

nav button svg {
  height: 3rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

nav button {
  z-index: 2;
}

header div img {
  width: auto;
}

nav ul {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #142349;
  width: 85vw;
  z-index: 1;
  padding-top: 40vh;
}

nav ul a {
  text-decoration: none;
}

/* Slideshow pitch */

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  background: var(--header-text-color);
  margin: 0 10px;
}

.arrows {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #9e157a;
}

.numbertext {
  color: #589df6;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: rubik;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

div .Slide img {
  width: 100%;
}

.img_artist {
  position: relative;
}

#artist_container .background_blue {
  opacity: 0.5;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

div.input_bruger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 15rem;
  font-family: centrano2;
}

div.songs_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 800px) {
  #index_main {
    margin: calc((100vh / 15) * 1.563) calc((100vw / 15) * 1.563);
  }

  h1.title {
    font-size: 7vw;
  }

  h2.subtitle {
    font-size: 3.5vw;
    margin-top: 4rem;
  }

  .Slide_inner {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr;
    position: relative;
    padding-top: 2rem;
  }

  .artist_info {
    margin-right: 1rem;
  }

  h3.artist_index {
    font-size: 3vw;
    text-align: right;
  }

  h4.genre_artist {
    font-size: 1.5vw;
    text-align: right;
  }

  section.genre_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
  }
  .genre_grid a {
    font-size: 3vw;
  }
  .Slide {
    margin: 0 10%;
  }

  div.button_artist {
    font-size: 1.5vw;
    margin: 0 1rem 0 auto;
  }

  div.img_artist {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  header nav ul {
    width: 30vw;
  }
  div.input_bruger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.songs_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#container {
  margin: 8vw auto;
}

h1 {
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
  /*Create overlap*/

  margin: 0;
  line-height: 0;
  /*Animation*/

  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: #55e5c4;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #fa3bc8;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

section form label {
  color: white;
}

div.brugerinfo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 2rem;
}

#h3_form {
  font-size: 2rem;
  font-family: centrano2;
  margin-bottom: 2rem;
  text-align: center;
}

form div label {
  font-family: centrano2;
  font-size: 1.5rem;
}

#genre {
  width: 15rem;
  font-family: centrano2;
}

div.songs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 2rem;
}

main section form {
  background-color: #3b1b49;
  padding: 3rem 6vw;
  max-width: 40rem;
  width: 100%;
}

section form button {
  background-color: #f93bc8;
  font-family: centrano2;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
}

#img_form {
  background-color: transparent;
  width: 25vw;
}

#form_grid {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

header div img {
  background-color: transparent;
  width: 5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-content {
  background-color: transparent;
  box-shadow: none;
  padding: 1rem;
  gap: 0.5rem;
}
