/*--------------------GENERELT----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*COLOR*/
  --bg-color: #09122a;
  --header-text-color: #fa3bc8;

  /*FONT*/
  --h1-font-weight: 800;
  --h1-font-size: 15vw;

  --h2-font-weight: 800;
  --h2-font-size: 10vw;
}

img {
  width: 100%;
  height: auto;
  display: block;
  background-color: #020864;
}

body {
  background-color: var(--bg-color);
}

main {
  /* width: 90%;
  max-width: 1200px;
  margin-inline: auto; */
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

h1 {
  font-weight: 400;
  font-size: var(--h1-font-size);
  color: var(--header-text-color);
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: var(--h2-font-size);
  color: var(--header-text-color);
  text-transform: uppercase;
}

p {
  font-weight: 200;
  font-size: medium;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  max-width: 1200px;
  margin-top: 1rem;
  margin-inline: auto;
  flex-wrap: wrap;
}

.genre_navn {
  color: #fa3bc8;
  text-align: center;
}

/*-------------------------------------------------*/

/*Blåt filter på img'er*/
.img_filter {
  position: relative;
  display: inline-block;
}
.img_filter img {
  width: 100%;
}
.img_filter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 3000px #0944a1 inset;
  opacity: 50%;
}
