* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*Her skal vi skrive vores generelle farver på fonte, baggrunde mm. når vi har besluttet os for dem
    --primary: #;
    --secondary: #;
    --tertiary: #;

    --primary-font: ;
    --secondary-font: ;

    --h1-font-weight: ;
    --h1-font-size: ;

    --h2-font-weight: ;
    --h2-font-size: ;

    --p-font-weight: ;
    --p-font-size: ;
*/
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}
