/*--------------------GENERELT----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

:root {
  /*COLOR*/
  --bg-color: #09122a;
  --header-text-color: #fa3bc8;

  /*FONT*/
  --h1-font-weight: 800;
  --h1-font-size: 13vw;

  --h2-font-weight: 800;
  --h2-font-size: 8vw;

  --h3-font-weight: 800;
  --h3-font-size: 7vw;

  --h4-font-weight: 800;
  --h4-font-size: 3vw;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html body header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0rem 1rem;
  position: relative;
}

main {
  /* width: 90%;
  max-width: 1200px;
  margin-inline: auto; */
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

h1 {
  font-weight: 400;
  font-size: var(--h1-font-size);
  color: var(--header-text-color);
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: var(--h2-font-size);
  color: var(--header-text-color);
  text-transform: uppercase;
}

p {
  font-weight: 200;
  font-size: medium;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  max-width: 1200px;
  margin-top: 1rem;
  margin-inline: auto;
  flex-wrap: wrap;
}

.genre_navn {
  color: #fa3bc8;
  text-align: center;
}

nav ul li {
  font-family: centrano2;
  font-size: var(--h3-font-size);
  color: white;
  list-style-type: none;
}

/*-------------------------------------------------*/

/*Blåt filter på img'er*/

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

button.dropbtn {
  background-color: transparent;
  color: white;
  font-size: var(--h3-font-size);
  font-family: centrano2;
}

.dropdown-content {
  background-color: transparent;
  box-shadow: none;
  padding: 1rem;
  gap: 0.5rem;
}

.dropdown-content a {
  font-family: centrano2;
  font-size: var(--h3-font-size);
  color: white;
  display: block;
}

footer {
  background: var(--header-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: auto;
}

footer img {
  max-width: 5rem;
  width: 2rem;
}

footer p {
  color: white;
  font-family: centrano2;
  font-size: 1rem;
}

.copy {
  display: flex;
}

footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

footer .logos img {
  max-width: 5rem;
  width: 3rem;
}

@media (min-width: 800px) {
  header nav ul {
    width: 30vw;
  }
  html body header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0rem 2rem;
    position: relative;
  }

  nav ul li {
    font-size: var(--h4-font-size);
  }

  .dropdown-content a {
    font-family: centrano2;
    font-size: var(--h4-font-size);
    color: white;
    display: block;
  }

  button.dropbtn {
    background-color: transparent;
    color: white;
    font-size: var(--h4-font-size);
    font-family: centrano2;
  }
}
